div#changePassword{
	height: 200px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 20px;
	background-color: #e9a63b;
	border-radius: 15px;
}
form span{
	font-size: 16px;
	font-family: times;
}
form input{
	border-radius: 15px;
	border: 0;
	height: 16px;
	outline: none;
	padding: 6px 15px;
	text-shadow: 0px 1px 1px rgba(255,255,255, .2);
}
form input#oldPassword{
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 15px;
}
form input#newPassword{
	margin-left: 20px;
	margin-bottom: 15px;
}
form input#confirmPassword{
	margin-left: 0;
	margin-bottom: 15px;
}
input[type=button]{
	margin-top: 20px;
	margin-right: 26px;
	background-color: #87CEEB;
	border: 0px;
}