body{
	font: 14px Arial,sans-serif;
	margin-top: 0;
}
div#page{
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}
/******************************************************/
div#content{
	width: 850px;
	height: 420px;
	margin-top: 50px;
}
/******************************************************/
div#pic{
	width: 400px;
	height: 400px;
	float: left;
}
div#pic img{
	width: 400px;
	height: 400px;
}
/******************************************************/
div#info{
	width: 400px;
	height: 400px;
	float: right;
}
div#name{
	width: 400px;
	height: 100px;
}
div#price{
	width: 400px;
	height: 100px;
}
div#num{
	width: 400px;
	height: 50px;
}
div#num{
	width: 400px;
	height: 200px;
}
div#num input[type=number]{
	width: 70px;
	height: 25px;
}
div#num input[type=submit]{
	width: 100px;
	height: 30px;
	margin-top: 70px;
}
/******************************************************/
div#introduce{
	width: 550px;
	height: 500px;
	float: left;
}
div#tab-info{
	float: right;
	text-align: left;
	width: 550px;
	
}
div#tab-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 22px;
	border-bottom: 1px solid darkgreen;
}
div#tab-info ul li{
	float: left;
	height: 17px;
	padding: 4px 10px 0 10px;
	margin-right: 5px;
	border: 1px solid rgb(200,200,200);
	border-bottom: none;
	position: relative;
	background: yellowgreen;
	border-radius: 5px;
}
div#tab-info ul li.ui-tabs-active{
	background: darkgreen;
}
div#tab-info ul li.ui-tabs-active a{
	color: white;
}
div#tab1{
	width: 550px;
	background: lightblue;
	padding: 5px;
	line-height: 30px;
}
div#tab2{
	background: lightgreen;
	padding: 5px;
}
.ui-tabs-hide{
	display: none;
}
div#shop-nav{
	width: 280px;
	height: 500px;
	float: left;
}
/******************************************************/
div#footer{
	width: 850px;
	height: 170px;
	margin-top: 80px;
	font-size: 12px;
}
div.footer1{
	width: 230px;
	height: 150px;
	float: left;
	margin-left: 30px;
}
div.footer2{
	width: 250px;
	height: 150px;
	float: left;
	margin-right: 20px;
}
div.footer3{
	width: 250px;
	height: 150px;
	float: left;
}
div#footer ul li{
	font-size: 14px;
	margin-bottom: 10px;
	list-style: none;
	color: #ffffff;
}
/******************************************************/