body{
	font: 14px Arial,sans-serif;
	margin-top: 0;
}
div#page{
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}
/******************************************************/
div#content{
	width: 850px;
	height: 420px;
	margin-top: 50px;
}
/******************************************************/
div#pic{
	width: 400px;
	height: 400px;
	float: left;
}
div#pic img{
	width: 400px;
	height: 400px;
}
/******************************************************/
div#info{
	width: 400px;
	height: 400px;
	float: right;
}
div#name{
	width: 400px;
	height: 100px;
}
div#price{
	width: 400px;
	height: 100px;
}
div#num{
	width: 400px;
	height: 50px;
}
div#num{
	width: 400px;
	height: 200px;
}
div#num input[type=number]{
	width: 70px;
	height: 25px;
}
div#num input[type=submit]{
	width: 100px;
	height: 30px;
	margin-top: 70px;
}
/******************************************************/
div#tab-info{
	float: right;
	text-align: left;
	width: 550px;
	
}
div#tab-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 22px;
	border-bottom: 1px solid darkgreen;
}
div#tab-info ul li{
	float: left;
	height: 17px;
	padding: 4px 10px 0 10px;
	margin-right: 5px;
	border: 1px solid rgb(200,200,200);
	border-bottom: none;
	position: relative;
	background: yellowgreen;
	border-radius: 5px;
}
div#tab-info ul li.ui-tabs-active{
	background: darkgreen;
}
div#tab-info ul li.ui-tabs-active a{
	color: white;
}
div#tab1{
	width: 550px;
	background: lightblue;
	padding: 5px;
}
div#tab2{
	background: lightgreen;
	padding: 5px;
}
.ui-tabs-hide{
	display: none;
}