div#pay_result{
	height: 300px;
}
div#back_homepage{
	margin-top: 200px;
	margin-left: 670px;
}
input#pay_button{
	width: 200px;
	height: 120px;
	background-color: #e9a63b;
	border-radius: 10px;
	margin-right: 50px;
	margin-top: 100px;
}